@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171711;
    --foreground: #ededed;
  }

}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

li{
  list-style-type: disc;
}

.ItemBox
{
  background-color: #171717;
  color: #ffffff;
  border-width: 3px;
  border-color: purple;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.ItemBoxBuffer
{
  background-color: #171717;
  color: #ffffff;
  border-width: 3px;
  border-color: purple;
  display: inline-block;
  margin: 0;
  padding: 0;
  opacity: 0.3;
}
.CalDate
{
  font-size: 1.5em;
}
#DateContainer{
  border: 0;
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
  width: 1500px;
  height: 500px;
}

#loginPanel{
  position: absolute;
  top: 4em;
  left: 10em;
  width: 15em;
  height: 15em;
  background-color: black;
  text-align: center;
  font-size: 2em;
  border-radius: 0.5em;
}

.loginInput
{
  text-align: center;
  color: black;
  margin: 0.5em;
}

#loginSubmit
{
  margin: 1em;
  background-color: #008000;
  color: white;
  border-radius: 0.5em;
  width: 3em;
}

#loginSubmit:hover
{
  cursor: pointer;
  background-color: #006000;
  color: #dddddd;
}