@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171711;
    --foreground: #ededed;
  }

}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

li{
  list-style-type: disc;
}

.ItemBox
{
  background-color: #171717;
  color: #ffffff;
  border-width: 3px;
  border-color: purple;
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

.ItemBoxBuffer
{
  background-color: #171717;
  color: #ffffff55;
  border-width: 3px;
  border-color: purple;
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: scroll;
}
.CalDate
{
  font-size: 1.5em;
}

#DateContainer{
  border: 0;
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
  width: 1500px;
  height: 500px;
}

#loginTitle, #eventAddTitle, #calTitle
{
  color: white;
  text-align: center;
}
#loginPanel, #eventAddPanel, #calPanel
{
  position: absolute;
  top: 4em;
  left: 10em;
  min-width: 15em;
  max-height: 18em;
  padding-left: 0.2em;
  background-color: black;
  text-align: center;
  font-size: 1.8em;
  border-radius: 0.5em;
  overflow: scroll;
  z-index: 1;
  padding-bottom: 1em;
}

#calPanel
{
  min-height: none;
}
.loginHeader, .eventAddHeader, .calHeader
{
  font-size: 0.7em;
  color: white;
}
.loginInput, .eventAddInput, .calInput
{
  font-size: 0.7em;
  text-align: center;
  color: black;
  margin: 0.5em;
  text-align: left;
}

.loginInput
{
  font-size: 1em;
}
#loginSubmit, #eventAddSubmit, #calSubmit
{
  padding: 0.2em;
  margin: 1em;
  background-color: #008000;
  color: white;
  border-radius: 0.5em;
  min-width: 3em;
  text-align: center;
}

#loginSubmit:hover, #eventAddSubmit:hover, #calSubmit:hover
{
  cursor: pointer;
  background-color: #006000;
  color: #dddddd;
}

#navSide
{
  position: fixed;
  height: 100vh;
  width: 10em;
  background-color: #222222;
}

#layoutBody
{
  padding-left: 11em;
}

#calView
{
  border: 0;
  margin: 0;
  padding: 0;
  width: 90vw;
  height: 80vh;
}

.eventItem
{
  font-size: 0.5em;
  display: block;
}

.eventViewItem
{
  font-size: 0.6em;
  padding-top: 0.3em;
  padding-left: 0.5em;
  display: block;
}
#monthHeading
{
  font-size: 3em;
}

.monthButton
{
  font-size: 3em;
  margin-left: 1em;
}

#viewEvent
{
  position:absolute;
  top: 10vh;
  left: 15vw;
  width: 25vw;
  padding: 1em;
  border-radius: 2em;
  font-size: 1.2em;
  background-color: black;
  overflow-y: scroll;
}

#calList
{
  padding-top: 5vh;
  padding-left: 1vw;
  color: white;
}

.deleteCal
{
  padding-left: 0.5em;
  font-weight: bold;
  color: gray;
}

#calShare, #calAdd, #eventAdd
{
  margin-top: 0.2em;
  margin-left: 1em;
  color: #A000A0;
}

.radioItem
{
  margin: 0.1em;
  padding: 0.1em;
  font-size: 0.7em;
}

.calSelect, .repSelect
{
  padding-left: 2em;
}

#logoutButton
{
  color: white;
  margin-top:0.7em;
  margin-left: 2em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: #008000;
}

#logoutButton:hover
{
  background-color: #006000;
  color: #dddddd;
}